<% layout('layouts/boilerplate') %>
    <h1>Orders</h1>
    <table class="w-full table-auto bg-white">
        <thead>
            <tr>
                <th class="px-4 py-2 text-left">Order_id</th>
                <th class="px-4 py-2 text-left">Phone</th>
                <th class="px-4 py-2 text-left">Address</th>
                <th class="px-4 py-2 text-left">Time</th>
            </tr>
        </thead>
        <tbody>
            <% if(orders.length) { %>
                <% orders.forEach((order) => { %>
                    <tr>
                        <td class="border px-4 py-2">
                            <a class="link" href="/customer/orders/<%= order.order_id %>">
                                <%= order.order_id %>
                            </a>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.phone_no %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.delivery_address %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= moment(order.date_time).format('hh:mm A') %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } else { %>
                            <tr>
                                <td class="p-4"><span>No orders found!</span></td>
                            </tr>
                            <% } %>
        </tbody>
    </table>
    <!-- <%# for (let order of orders) {%>

        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <%#= order.date_time %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span>Rs.</span>
                            <%#= order.total_price %>
                        </h5>
                        <p>
                            <small class="card-text text-muted">
                                <span>Delivery address: </span>
                                <%#= order.delivery_address %>
                            </small>
                            <small class="card-text text-muted">
                                <%#= order.phone_no %>
                            </small>
                        </p>

                        <a class="btn btn-primary" href="foods/orderdeatils/<%#= order.order_id%>">Order Details</a>
                    </div>
                </div>
            </div>

        </div> -->

    <%# } %>