<% layout('layouts/boilerplate') %>
    <h1>MENU</h1>


    <% for (let item of items) {%>

        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%=item.img_url%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.food_name %>
                        </h5>
                        <p>
                            <small class="card-text text-muted">
                                <span>Rs.</span>
                                <%= item.unit_price %>
                            </small>
                        </p>
                        <p>
                            <small class="card-text text-muted">
                                <%= item.food_type %>
                            </small>
                        </p>
                        <p>
                            <small class="card-text text-muted">
                                <%= item.category %>
                            </small>
                        </p>

                        <button data-food="<%= JSON.stringify(item) %>" class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>

        <% } %>