<%- layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Food Item</h1>
        <div class="col-6 offset-3">
            <form action="/admin/food/<%=food.food_id%>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="food_name">Food Name</label>
                    <input class="form-control" type="text" value="<%=food.food_name%>" name="food_name" id="title" required>

                </div>
                <div class="mb-3">
                    <label class="form-label" for="food_type">Food Type(VEG / NON VEG)</label>
                    <input class="form-control" type="text" value="<%=food.food_type%>" name="food_type" id="food_type" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="category">Food Category</label>
                    <input class="form-control" type="text" value="<%=food.category%>" name="category" id="category" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="food_status">Food Status</label>
                    <input class="form-control" type="text" value="<%=food.food_status%>" name="food_status" id="food_status" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="img_url">Image url</label>
                    <input class="form-control" type="text" value="<%=food.img_url%>" name="img_url" id="image" required>
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="unit_price" required>Food unit Price</label>

                    <div class="input-group">
                        <span class="input-group-text" id="price-label">Rs.</span>
                        <input type="text" class="form-control" name="unit_price" id="price" value="<%=food.unit_price%>" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Food Item</button>
                </div>
                <div>
                    <a href="/admin/food/<%= food.food_id %> ">Back To Food Item</a>
                </div>
            </form>
        </div>
    </div>